body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #d7f2ffdc;
    text-align: center;
    padding: 20px;
}
#main-title{
    color: rgb(255, 145, 0);
}
img{
    border-radius: 30%;
    margin: 10px;
}
.intro{
    color: crimson;
    font-size: 20px;
}
ul{
    list-style-type: square;
    padding-left: 0%;
}
form{
    background-color: #fff;
    padding: 20px;
    margin-top:20px ;
    display: inline-block;
    border: 1px solid rgba(236, 223, 223, 0.856);
    border-radius: 10px;
}
input[type=text]{
    padding: 10px;
    
}