body{
    padding: 25px;
}
.title{
    color: #5c6ac4;
}
.flex-container{
    display: flex;
    gap : 10px;
    background-color: grey;
    padding: 10px;

}
.flex-item{
    background-color: skyblue;
    flex : 1; 
    text-align: center;

    padding: 20px;

}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgreen;
    gap: 10px;
    padding: 10px;

}

.grid-item{
    background-color: coral;
    text-align: center;

    padding: 20px;
    
}